.App {
  text-align: center;
  width: 500px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.add-smurf-button > button {
  background: #309399bf;
  font-size: 1.2rem;
  border-radius: 10px;
  padding: 5px;
  border: 0px;
}
.add-smurf-button > button:hover {
  background: white;
}
